.Story-body {
  margin: 0 0 20px;
  white-space: pre-line;
}

.Story-meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Story-meta-button {
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e9ebee;
  color: #90949c;
  display: flex;
  float: left;
  font-size: 11px;
  font-weight: 700;
  height: 25px;
  margin: 0 10px 0 0;
  padding: 0 10px;
}

.Story-meta-button:hover {
  color: #4b4f56;
}

.Story-meta-button.is-active {
  color: #5c69ff;
}

.Story-meta-button:last-child {
  margin: 0;
}

.Story-meta-button-icon {
  font-size: 120%;
}

.Story-meta-time {
  color: #bec2c9;
  font-size: 11px;
}

.Story-meta-time:hover {
  color: #4b4f56;
}
