.Layout {
  color: #4b4f56;
  position: relative;
}

.Layout-container {
  overflow: auto; /* NOTE respect margin-bottom defined on .Layout-content in Safari. */
}

.Layout-content {
  box-sizing: border-box;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
}

.Layout-navigation {
  align-items: flex-start;
  border-bottom: 5px solid #f6f7f9;
  display: flex;
  margin: 0 0 30px;
}

.Layout-navigation-list {
  height: inherit;
}

.Layout-navigation-list li {
  display: block;
  float: left;
  height: inherit;
  margin: 0 20px 0 0;
}

.Layout-navigation-list li:last-child {
  margin: 0;
}

.Layout-navigation-link,
.Layout-navigation-link-active {
  display: block;
  font-size: 14px;
  height: inherit;
}

.Layout-navigation-link {
  color: #90949c;
}

.Layout-navigation-link:hover,
.Layout-navigation-link-active {
  color: #4b4f56;
}

@media (max-width: 768px) {
  .Layout-illustration {
    display: none;
  }

  .Layout-navigation {
    align-items: center;
    flex-flow: column nowrap;
  }

  .Layout-navigation-logo {
    margin: 0 0 20px;
  }

  .Layout-navigation-list {
    margin: 0 0 20px;
  }
}

@media (min-width: 769px) {
  .Layout-illustration {
    align-items: center;
    background: #5c69ff;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 30%;
  }

  .Layout-illustration-image {
    width: 90%;
  }

  .Layout-container {
    margin: 0 0 0 auto;
    width: 70%;
  }

  .Layout-content {
    max-width: 640px;
  }

  .Layout-navigation {
    flex-flow: row nowrap;
    height: 50px;
    justify-content: space-between;
  }

  .Layout-navigation-link-active {
    border-bottom: 5px solid #5c69ff;
  }
}
