.StoryForm-heading {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  margin: 0 0 30px;
}

.StoryForm-form {
  margin: 0 0 50px;
}

.StoryForm-textarea {
  min-height: 275px;
}

.StoryForm-tip {
  color: #90949c;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 30px;
}

.StoryForm-tip:last-child {
  margin: 0;
}
