.StoryForm-heading {
  margin: 0 0 30px;
}

.StoryForm-form {
  margin: 0 0 50px;
}

.StoryForm-textarea {
  min-height: 275px;
}

.StoryForm-tips {
  color: #90949c;
  font-size: 14px;
  line-height: 20px;
}

.StoryForm-tips li {
  margin: 0 0 10px;
}
