html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  overflow-y: scroll; /* NOTE always show scroll bar to prevent document-width-jumping */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

textarea {
  display: block; /* NOTE respect set margin without extra free goodies. */
}

button {
  font-family: inherit;
}

button:hover,
a:hover {
  cursor: pointer;
}
