.App {
  margin: 55px auto 0;
  padding: 0 10px;
  max-width: 840px;
}

.App-navigation {
  border-bottom: 5px solid #f6f7f9;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 0 0 30px;
}

.App-navigation-logo,
.App-navigation-logo-active,
.App-navigation-list-link,
.App-navigation-list-link-active {
  height: inherit;
  border-bottom: 5px solid transparent;
}

.App-navigation-logo:hover,
.App-navigation-list-link:hover {
  border-color: #90949c;
}

.App-navigation-logo-active,
.App-navigation-list-link-active {
  border-color: #5c69ff;
}

.App-navigation-list {
  height: inherit;
}

.App-navigation-list li {
  display: block;
  float: left;
  height: inherit;
  margin: 0 20px 0 0;
}

.App-navigation-list li:last-child {
  margin: 0;
}

.App-navigation-list-link,
.App-navigation-list-link-active {
  color: #90949c;
  display: block;
  font-size: 14px;
}
