.Headline {
  font-weight: 300;
  line-height: 50px;
}

.Paragraph {
  margin: 0 0 30px;
}

.Text {
  font-size: 20px;
  line-height: 25px;
}

.Text--regular {
  font-weight: 400;
}

.Text--light {
  font-weight: 300;
}

.Text a {
  color: #5c69ff;
}

@media (max-width: 768px) {
  .Headline {
    font-size: 30px;
  }
}

@media (min-width: 769px) {
  .Headline {
    font-size: 40px;
  }
}
